.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0 0 5px 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form{
    display: inline;
}

.yelp-form h1{
    text-align: center;
}

.form-div{
    width: 30%;
    margin: 25px auto;
}